html{
    height: 100%;
    width:100%;
    margin: 0;
    padding: 0;
}

body{
   height: 100%;
   width: 100%;
   margin: 0;
   padding: 0;
 }

 img {
    height: 30%;
    width: 40%;
    border-radius: 50%;
    border:solid 1px;
    box-shadow: 10px 10px 5px #888888 

  }

 p{
    font-size: large;
 }

 h1{
    padding: 0% 25%;
 }

/*-- don't alter above this line --*/

.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navList {
    float: left;
}

.navList a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.pageNav {
  background-color: #751308;
}

.contentNavList{
  background-color: #C99F3A;
  width: 33.33%;
}

.contentNavList_2{
  background-color: #C99F3A;
  width: 50%;
}

.pageNavList{
  width:15%;
}

.content{
  height: 100%;
  width: 100%;
  padding-top:10%;
   
}
.category{
  height: 100%;
  width:85%;
  padding-left: 15%;
}

.sectionPictureRight{
  width: 30%;
  float: right;
  padding-top: 20px;
}

.sectionText{
 width: 60%;
 float:left;
  
}
